<div class="jumbotron">
    <h2>Amharic Messenger</h2>
</div>
<hr/>
<br/>

<header>
    <h4>
        AM ROBOT
    </h4>
</header>
<section>
    
</section>

<header>
    <h4>
        Fidel Analysis
    </h4>
</header>
<section>
    
</section>


<header>
    <h4>
        SMS
    </h4>
</header>
<section>
    
</section>


<header>
    <h4>
        Cloud Messaging
    </h4>
</header>
<section>
    
</section>


<header>
    <h4>
        Data Manager
    </h4>
</header>
<section>
    
</section>

<header>
    <h4>
        Contact Directory
    </h4>
</header>
<section>
    
</section>

<header>
    <h4>
        AM ROBOT
    </h4>
</header>
<section>
    
</section>